/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.container {
  background-color: #ffffff;
  max-width: 1600px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: #3498db;
  color: #fff;
  font-size: 24px;
}

.logo {
  max-width: 100px;
}

.body {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
}

.column {
  flex: 1;
  padding: 20px;
}

.inputField {
  width: 95%;
  min-height:500px;
  height: auto;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #3498db;
  border-radius: 8px;
  font-size: 18px;
}

button {
  width: 100%;
  padding: 12px 24px;
  font-size: 20px;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #27ae60;
}

.result {
  margin-top: 20px;
}

.result h2 {
  font-size: 20px;
}

.result p {
  font-size: 18px;
}
